// Specific CSS for your home-page


/* Colors and fonts */
body {
  background: black;
  color: #575F7D;
  font-family: monospace;
  font-size: 17px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: monospace;
}
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: orange;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: monospace;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}


/* Custom design with class (99% of your design) */
.container-home {
  width: 700px;
  margin: 40px auto;
}


.card-black {
  background-color: black;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid orange;
  color: white;
}
.profile {
  border-radius: 50%;
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: orange;
}
.list-inline i:hover {
  color: white;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
  color: white;
  font-size: 1.5em;
}


.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
}
