<br>
<div class="navigation">
  <%= link_to "HOME", root_path, class:"btn-nav" %>
  <%= link_to "PROJECTS", projects_path, class:"btn-nav" %>
  <%= link_to "RESUME", resume_path, class:"btn-nav" %>
  <%#= link_to "contact", new_path, class:"btn-nav" %>
</div>
<br>
<br>
<div class="container">
  <div class="upper-one container">
    <h1><strong>NEIL_CHEN_</strong></h1>
    <br>
    <br>
    <p><i class="fas fa-phone"></i> +61 410042761</p>
    <p><i class="far fa-envelope"></i> yixuanneil.chen@hotmail.com</p>
    <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/yixuanneilchen/" target="_blank" id="header-a">au.linkedin.com/in/yixuanneilchen/</a></p>
  </div>
  <div class="upper-two container">
    <h3><strong>SUMMARY</strong></h3>
    <h5>Chartered Accountant with a passion for technology.<br>
        I enjoy constantly learning new concepts and growing while solving problems in creative ways.<br>
        Recently completed Web Development bootcamp with Le Wagon Melbourne and look forward to taking this passion futher by continuing to learn and building applications.
    </h5>
  </div>
  <div class="lower flexbox">
    <div class="lower-left container">
      <h3><strong>EXPERIENCES</strong></h3>
      <br>
      <h5>Experienced Financial Auditor</h5>
      <h5>Audit Office of NSW (01/2017 to 03/2022)</h5>
      <ul>
        <li>Experienced in executing end to end audit engagements from the planning to reporting stages;</li>
        <li>Worked on engagements in various industries including Universities, Research Institutions, Health Districts, Regulatory Bodies, Finance/Insurance State Owned Corporation</li>
        <li>Led teams in conductin g field works, capable of working independently as well as being part of a team;</li>
        <li>Coaching and mentoring more junior members of the team;</li>
        <li>Able to work under pressure and meet project budgets/timelines;</li>
        <li>Proficient user of Excel in analysing complex dat a sets.</li>
      </ul>

      <br>
      <h5>Senior Accountant</h5>
      <h5>PwC Sydney (12/2020 to 03/2021)</h5>
      <ul>
        <li>Seconded to PwC Sydney as a senior auditor;</li>
        <li>Lead audits in wholesale, logistics, construction, and transportation industries.</li>
      </ul>

      <br>
      <h5>Project Consultant</h5>
      <h5>EY Sydney (02/2016 to 06/2016)</h5>
      <ul>
        <li>Conducted a feasibility study on Circular Economy and its potential for the client;</li>
        <li>Devised a rigorous assessment tool and screened through various Australian industries using both quantitative and qualitative research;</li>
        <li>Provided well regarded recommendation piece for senior managers at the company.</li>
      </ul>

      <br>
      <h5>Business Analyst</h5>
      <h5>Mad Paw Pty Ltd (11/2015 to 02/2016)</h5>
      <ul>
        <li>Mad Paws is a Sydney-based start-up and the Airbnb of pet accommodation;</li>
        <li>Worked collaboratively with Product Managers, Growth Hackers, Customer Success, and Marketing teams in identifying performance improvement areas;</li>
        <li>Performed quantitative and qualitative analysis to understand user behaviours and product engagement;</li>
        <li>Synthesised insights and recommended changes/improvements for Product and Marketing teams.</li>
      </ul>

      <br>
      <h5>International Travel Consultant</h5>
      <h5>Flight Centre Limited (03/2014 to 04/2015)</h5>
      <ul>
        <li>Delivering superb customer travel experiences by matching the right products to customer needs;</li>
        <li>Effectively liaise between customers and travel providers;</li>
        <li>Resolving conflicts and client travel complications;</li>
        <li>Worked with challenging sales targets and managed client ledgers ensuring profitable transactions.</li>
      </ul>

    </div>

    <div class="lower-right">
      <div class="lower-right-one container">
        <h3><strong>PROJECTS</strong></h3>
        <br>
        <h5><strong>Project 1</strong> - Find the closest toilet near you.</h5>
        <a href="https://www.totheloo.org/" target="_blank">https://www.totheloo.org/</a>
        <ul>
          <li>A simple application that allows users to find the closest toilet near them. The application uses the Mapbox API to find the closest toilet near the user's current location.</li>
          <li>Skills utilised: HTML, CSS, Bootstrap, SQL, git, GitHub, Heroku, Geocoder, Mapbox, Ruby on Rails.</li>
        </ul>
        <br>
        <br>

        <h5><strong>Project 2</strong> - Cuddle a puppy near you.</h5>
        <a href="https://tothepupp.herokuapp.com/" target="_blank">https://tothepupp.herokuapp.com/</a>
        <ul>
          <li>An Airbnb like mockup application that allows users list puppies for hire, find puppies to rent in their neighbourhood, and manage their reservations.</li>
          <li>Skills utilised: HTML, CSS, Bootstrap, SQL, git, GitHub, Heroku, Geocoder, Ruby on Rails.</li>
        </ul>
        <br>
        <br>

        <h5><strong>Project 3</strong> - Simple weather app.</h5>
        <a href="https://neilchenn.github.io/Simple_weather_app/" target="_blank">https://neilchenn.github.io/Simple_weather_app/</a>
        <ul>
          <li>An JavaScript application that uses the OpenWeather API, users can add new cities, and search from existing cities weather information.</li>
          <li>Skills utilised: HTML, CSS, JavaScript, git, GitHub, API.</li>
        </ul>
      </div>

      <div class="lower-right-two container">
        <h3><strong>EDUCATION</strong></h3>
        <br>
        <h5>Web Development Bootcamp (06/2022)</h5>
        <ul>
          <li>Le Wagon Melbourne</li>
        </ul>
        <br>

        <h5>Graduate Diploma of Chartered Accounting (05/2019)</h5>
        <ul>
          <li>Chartered Accountants Australia & New Zealand</li>
        </ul>
        <br>

        <h5>Master of Management (CEMS) (12/2016)</h5>
        <ul>
          <li>University of Sydney</li>
          <li>University of St. Gallen, Switzerland (exchange semester)</li>
        </ul>
        <br>

        <h5>Bachelor of Commerce (Liberal Studies) (12/2013)</h5>
        <ul>
          <li>University of Sydney</li>
          <li>University of Washington, USA (exchange semester)</li>
        </ul>

      </div>

      <div class="lower-right-three container">
        <h3><strong>LANGUAGES</strong></h3>
        <div class="container-lower">
          <div style="margin-right: 50px;">
            <h5>English</h5>
            <h5>Cantonese Chinese</h5>
            <h5>Mandarin Chinese</h5>
          </div>
          <div style="display: in-line;">
            <h5><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i></h5>
            <h5><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i></h5>
            <h5><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i></h5>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
